nav li {
  display: inline;
  color: #f8f2d8;
  padding: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.header {
  height: 50px;
  background-color: #dd855c;
  list-style-type: none;
  overflow: hidden;
}

.content {
  background-color: #f8f2d8;
  height: 1045px;
}

.img-recipe {
  padding-left: 10px;
  padding-right: 10px;
}

.links {
  text-decoration: none;
  color: #f9f2e9;
}

nav li .links:hover {
  color: white;
}

h1 {
  color: #dd855c;
}

h2 {
  color: #dd855c;
}

h3 {
  color: #b08a8a;
}

input[type=text] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

textarea {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: #333;
}

input[type=submit] {
  padding:5px 15px;
  background: #dd855c;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 225px;
  height: 50px;
}

input[type=submit]:hover {
  padding:5px 15px;
  background: #b08a8a;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 225px;
  height: 50px;
}

input[type=button] {
  padding:5px 15px;
  background: #dd855c;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 225px;
  height: 50px;
}

input[type=button]:hover {
  padding:5px 15px;
  background: #b08a8a;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 225px;
  height: 50px;
}

input[type=number] {
  padding:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 212px;
}

.poza {
  border-radius: 10px;
  border-color: white;
}
